@import url(http://fonts.googleapis.com/css?family=Roboto:400,100italic,300,300italic,100,400italic,500,500italic,700,700italic,900,900italic&subset=latin,greek-ext,vietnamese,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic-ext,greek-ext,vietnamese,latin-ext);
/* font family*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
strong,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
legend {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
}
:focus {
  outline: 0;
}
ol,
ul {
  list-style: none;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #000000;
}
a:focus {
  outline: none;
}
a:link,
a:visited {
  color: #000000;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #0465b3;
}
/* Background placehold for image */
/* Form */
textarea.form-control {
  resize: none;
}
/* Remove blue border from css custom-styled button in chrome */
button:focus {
  outline: 0 !important;
}
.btn:active,
.btn.active {
  box-shadow: none !important;
}
button:focus,
input[type=submit]:focus,
button:active,
input[type=submit]:active {
  box-shadow: none !important;
}
.btn-group.open .dropdown-toggle {
  box-shadow: none !important;
  background-color: #fff;
}
.btn-group .dropdown-toggle:hover,
.btn-group .dropdown-toggle:focus {
  background-color: #fff;
}
/* Set cursor pointer on input file */
::-webkit-file-upload-button {
  cursor: pointer;
}
.clear {
  clear: both;
}
#wd-wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 150px;
  position: relative;
}
#wd-wrapper .wd-footer-container {
  bottom: 0;
  height: 150px;
  left: 0;
  position: absolute;
  width: 100%;
}
.container {
  width: 1200px;  
}
.wd-banner-slider-ctl .flex-direction-nav .flex-prev,
.wd-banner-slider-ctl .flex-direction-nav .flex-next {
  background: url("../images/fronts/bg-sprite.png") no-repeat -93px -22px;
  display: inline-block;
  font-size: 0;
  height: 32px;
  overflow: hidden;
  text-indent: -1983px;
  width: 32px;
}
.wd-banner-slider-ctl .flex-direction-nav .flex-next {
  background-position: -138px -22px;
}
.wd-features-list .slick-dots,
.wd-partner-slider .slick-dots,
.wd-list-thumb .slick-dots {
  margin-top: 0px;/*viet old margin-top: 10px;*/
  text-align: center;
}
.wd-features-list .slick-dots > li,
.wd-partner-slider .slick-dots > li,
.wd-list-thumb .slick-dots > li {
  display: inline-block;
  height: 4px;
  margin: 0 4px;
  overflow: hidden;
}
.wd-features-list .slick-dots > li button,
.wd-partner-slider .slick-dots > li button,
.wd-list-thumb .slick-dots > li button {
  background-color: #ced3d7;
  border: 0 none transparent;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  font-size: 0;
  height: 4px;
  outline: none;
  vertical-align: top;
  width: 24px;
}
.wd-features-list .slick-dots > li.slick-active button,
.wd-partner-slider .slick-dots > li.slick-active button,
.wd-list-thumb .slick-dots > li.slick-active button {
  background-color: #0465b3;
}
.wd-list-thumb {
  position: relative;
}
.wd-list-thumb .slick-prev,
.wd-list-thumb .slick-next {
  background: url("../images/fronts/bg-sprite.png") no-repeat 0 -126px transparent;
  border: 0 none transparent;
  display: inline-block;
  font-size: 0;
  height: 23px;
  overflow: hidden;
  position: absolute;
  text-indent: -1983px;
  top: 100px;
  width: 13px;
}
.wd-list-thumb .slick-prev {
  left: -30px;
}
.wd-list-thumb .slick-prev.slick-disabled {
  background-position: 0 -96px;
}
.wd-list-thumb .slick-next {
  background-position: -26px -126px;
  right: -30px;
}
.wd-list-thumb .slick-next.slick-disabled {
  background-position: -26px -96px;
}
/******** breakrum *************/
.breadcrumb.wd-breadcrumb-cus {
  background-color: transparent;
  font-size: 15px;
  padding: 0 0 10px;
}
.breadcrumb.wd-breadcrumb-cus .wd-icons-home-sm {
  vertical-align: top;
}
.breadcrumb.wd-breadcrumb-cus > li + li {
  padding-left: 26px;
  position: relative;
}
.breadcrumb.wd-breadcrumb-cus > li + li:before {
  left: 10px;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(127, 127, 127, 0);
  border-left-color: #7f7f7f;
  border-width: 5px;
  margin-top: -5px;
}
.breadcrumb.wd-breadcrumb-cus li.active {
  color: #0465b3;
}
.breadcrumb.wd-has-bdbt {
  border-bottom: 1px solid #e5e5e5;
}
.wd-searchresult-content.dnnSearchBoxPanel .dnnSearchBox {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  padding: 0;
}
.wd-searchresult-content.dnnSearchBoxPanel .dnnSearchBox input[type="text"] {
  background-color: transparent;
  height: 32px;
  left: 0;
  padding: 4px 10px;
}
.wd-searchresult-content.dnnSearchBoxPanel .dnnSearchBox > a.dnnSearchBoxClearText {
  margin-top: 7px;
}
.wd-searchresult-content.dnnSearchBoxPanel .dnnSearchBox > a.dnnSearchButton {
  right: 8px;
  top: 3px;
}
.capcha-form-ct {
  padding-bottom: 6px;
}
.capcha-form-ct .captcha img {
  margin-bottom: 10px;
}
.capcha-form-ct .captcha > div {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
.capcha-form-ct .captcha > input[type="text"] {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  font-size: 14px;
  height: 34px;
  padding: 6px 12px;
}
.capcha-form-ct .captcha > input[type="text"]:focus {
  border-color: #66afe9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.wd-logo-hd {
  display: inline-block;
  *margin-right: .3em;
  background: url("../images/fronts/bg-sprite.png") 0 0 no-repeat;
  height: 80px;
  overflow: hidden;
  text-indent: -1983px;
  vertical-align: middle;
  width: 80px;
}
[class^="wd-icons-"],
[class*="wd-icons-"] {
  display: inline-block;
  *margin-right: .3em;
  background-image: url("../images/fronts/bg-sprite.png");
  background-position: 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.wd-icons-human {
  width: 13px;
  height: 15px;
  background-position: -121px 0;
}
.wd-icons-search {
  width: 19px;
  height: 17px;
  background-position: -149px 0;
}
.wd-icons-home {
  width: 24px;
  height: 19px;
  background-position: -183px 0;
  vertical-align: top;
}
.wd-icons-arrow-yl {
  width: 17px;
  height: 17px;
  background-position: -181px -24px;
}
.wd-icons-student {
  width: 44px;
  height: 41px;
  background-position: -209px 0;
}
.wd-icons-staff {
  width: 36px;
  height: 36px;
  background-position: -265px -37px;
}
.wd-icons-books {
  width: 36px;
  height: 38px;
  background-position: -267px 0;
}
.wd-icons-email {
  width: 35px;
  height: 39px;
  background-position: -320px 0;
}
.wd-icons-research {
  width: 42px;
  height: 38px;
  background-position: -371px 0;
}
.wd-icons-facebook {
  width: 30px;
  height: 30px;
  background-position: -57px -96px;
}
.wd-icons-twitter {
  width: 30px;
  height: 30px;
  background-position: -92px -96px;
}
.wd-icons-youtube {
  width: 30px;
  height: 30px;
  background-position: -126px -96px;
}
.wd-icons-google-plug {
  width: 30px;
  height: 30px;
  background-position: -57px -131px;
}
.wd-icons-pinterest {
  width: 30px;
  height: 30px;
  background-position: -92px -133px;
}
.wd-icons-calendar {
  width: 15px;
  height: 15px;
  background-position: -93px -65px;
}
.wd-icons-search-rpw {
  width: 28px;
  height: 28px;
  background-position: -359px -72px;
}
.wd-icons-menu-rwd {
  width: 78px;
  height: 72px;
  background-position: -242px -62px;
}
.wd-icons-home-sm {
  width: 12px;
  height: 13px;
  background-position: -424px 0;
}
.wd-icons-book-open {
  width: 29px;
  height: 20px;
  background-position: -144px -141px;
}
.wd-icons-phone {
  width: 18px;
  height: 20px;
  background-position: -188px -142px;
}
.wd-icons-resources {
  width: 24px;
  height: 22px;
  background-position: -260px -140px;
}
.wd-icons-news {
  width: 21px;
  height: 21px;
  background-position: -224px -141px;
}
.wd-icons-download {
  width: 14px;
  height: 15px;
  background-position: -424px -32px;
}
.wd-icons-upload {
  width: 11px;
  height: 15px;
  background-position: -425px -62px;
}
.wd-icons-delete {
  width: 12px;
  height: 15px;
  background-position: -424px -98px;
}
.wd-icons-login {
  width: 91px;
  height: 91px;
  background-position: -328px -126px;
}
.wd-icons-refresh {
  width: 12px;
  height: 13px;
  background-position: -299px -145px;
}
/**************** button , title ************/
.wd-caret {
  position: relative;
}
.wd-caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 5px solid #0465b3;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.wd-caret:after {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  border-left: 4px solid #f6f6f6;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.wd-login-bt,
a.wd-login-bt {
  color: #0465b3;
  font-size: 13px;
}
.wd-login-bt .wd-icons-human,
a.wd-login-bt .wd-icons-human {
  margin-right: 6px;
  vertical-align: top;
}
.wd-view-more-bt,
a.wd-view-more-bt {
  border: 1px solid #8b8988;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  color: #ffca08;
  font-size: 14px;
  display: inline-block;
  padding: 6px 15px;
  position: relative;
  text-transform: uppercase;
}
.wd-view-more-bt:hover,
a.wd-view-more-bt:hover {
  border-color: #ffca08;
}
.wd-view-more-bt .wd-icons-arrow-yl,
a.wd-view-more-bt .wd-icons-arrow-yl {
  margin-left: 6px;
}
.wd-view-more-blue,
a.wd-view-more-blue,
.wd-view-detail,
a.wd-view-detail,
a.wd-view-detail,
aa.wd-view-detail {
  color: #2482d2;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}
.wd-view-more-blue:hover,
a.wd-view-more-blue:hover,
.wd-view-detail:hover,
a.wd-view-detail:hover,
a.wd-view-detail:hover,
aa.wd-view-detail:hover {
  text-decoration: underline;
}
.wd-view-detail,
a.wd-view-detail {
  color: #8e8e8e;
}
.wd-bg-green {
  background-color: #7fb74e;
}
.wd-bg-green:hover {
  background-color: #6b9d40;
}
.wd-bg-yellow {
  background-color: #f4a429;
}
.wd-bg-yellow:hover {
  background-color: #e8910c;
}
.wd-bg-red {
  background-color: #e04746;
}
.wd-bg-red:hover {
  background-color: #d92624;
}
.wd-bg-blue {
  background-color: #5897d4;
}
.wd-bg-blue:hover {
  background-color: #3883cc;
}
/*Trắng*/
.wd-bg-white {
  background-color: #FFFFFF;
}
.wd-bg-white:hover {
  background-color: #E4D7D7;
}

/*Đỏ cam*/
.wd-bg-red-orange {
  background-color: #FE6A0A;
}
.wd-bg-red-orange:hover {
  background-color: #FE0A0A;
}
/*xanh đậm*/
.wd-bg-blue-deep {
  background-color: #15047A;
}
.wd-bg-blue-deep:hover {
  background-color: #11045C;
}

/*do nhat*/
.wd-bg-red-light {
  background-color: #CC6633;
}
.wd-bg-red-light:hover {
  background-color: #d92624;
}

.wd-tt-center {
  text-align: center;
}
.wd-title-main-ln {
  color: #222;
  font-size: 24px;
  line-height: 34px;
  position: relative;
  text-transform: uppercase;
}
.wd-title-main-ln .wd-txt-ct {
  background-color: #fff;
  display: inline-block;
  padding: 0 18px 0 0;
  position: relative;
  z-index: 2;
}
.wd-title-main-ln.wd-tt-center .wd-txt-ct {
  padding-left: 18px;
}
.wd-title-main-ln:before {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 100%;
  z-index: 0;
}
.wd-title-27 {
  color: #222;
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
}
.wd-title-1,
.wd-title-4 {
  color: #222;
  font-size: 18px;
  line-height: 23px;
}
.wd-title-2 {
  color: #222;
  font-size: 22px;
  line-height: 27px;
}
.wd-title-3 {
  color: #222;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}
.wd-title-4 {
  text-transform: uppercase;
}
.wd-mtitle-asd {
  background-color: #0465b3;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  padding: 8px 10px 8px 24px;
  text-transform: uppercase;
}
.wd-mtitle-asd .wd-txt-tt {
  display: block;
  overflow: hidden;
  vertical-align: top;
}
.wd-mtitle-asd .wd-icons-book-open,
.wd-mtitle-asd .wd-icons-phone,
.wd-mtitle-asd .wd-icons-news,
.wd-mtitle-asd .wd-icons-resources {
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
}
.btn-bl-defaut,
a.btn-bl-defaut {
  background-color: #0465b3;
  border: 0 none transparent;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  color: #fff;
  font-size: 13px;
  padding: 7px 16px;
  text-transform: uppercase;
}
.btn-bl-defaut:hover,
a.btn-bl-defaut:hover {
  background-color: #0880e1;
  color: #fff;
}
.btn-gr-defaut {
  background-color: #ededed;
  border: 0 none transparent;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  font-size: 13px;
  padding: 7px 16px;
  text-transform: uppercase;
}
.btn-gr-defaut:hover {
  background-color: #d8d7d7;
}
.wd-button-openmenu {
  background-color: #fff;
  border: 1px solid #0465b3;
  font-size: 14px;
  outline: none;
  padding: 8px 30px 8px 10px;
  position: relative;
  text-align: left;
}
.wd-button-openmenu .wd-caret {
  position: absolute;
  right: 18px;
  top: 12px;
}
.wd-button-openmenu .wd-caret:after {
  border-left-color: #FFF;
}
.wd-button-openmenu:hover,
.wd-button-openmenu:focus {
  background-color: #fff;
  color: #000;
}
/*************************** Loading ******************************/
.loading {
  padding: 20px 0;
}
.loading .icon-libs {
  font-size: 20px;
  vertical-align: bottom;
}
/* Overlay loading (large loading) */
.overlay-loading {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.overlay-loading .loading {
  top: 300px;
}
.overlay-loading .loading .icon-libs {
  display: block;
  font-size: 30px;
}
.overlay-loading--no-background {
  background: none;
}
.loader {
  position: relative;
  border-top: 3px solid rgba(4, 101, 179, 0.2);
  border-right: 3px solid rgba(4, 101, 179, 0.2);
  border-bottom: 3px solid rgba(4, 101, 179, 0.2);
  border-left: 3px solid #0465B3;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  font-size: 10px;
  left: 50%;
  margin-left: -17px;
  margin-top: -15px;
  text-indent: -9999em;
  top: 50%;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*************************** Loading .end ******************************/
/*----- Header -----*/
.wd-nav-direct {
  float: right;
  overflow: hidden;
}
.wd-nav-direct .wd-item {
  float: left;
  font-size: 12.5px;
  line-height: 19px;
  font-weight:bold;
}
.wd-nav-direct .wd-item .wd-txt-lk,
.wd-nav-direct .wd-item .wd-login-bt {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  color: #8d8d8d;
  display: inline-block;
  padding: 2px 9px;
  position: relative;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}
.wd-nav-direct .wd-item .wd-txt-lk:hover,
.wd-nav-direct .wd-item .wd-login-bt:hover {
  color: #0465b3;
  text-decoration: underline;
}
.wd-nav-direct .wd-item .wd-txt-lk:before,
.wd-nav-direct .wd-item .wd-login-bt:before {
  border-left: 1px dotted #ccc;
  content: "";
  height: 10px;
  left: -1px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 1px;
}
.wd-nav-direct .wd-item .wd-login-bt {
  color: #0465b3;
}
.wd-nav-direct .wd-item:first-child .wd-txt-lk:before {
  border-left: 0 none transparent;
}
.wd-nav-direct .wd-item.wd-active .wd-txt-lk {
  background-color: #0465b3;
  color: #b4d1e8;
}
.wd-search-header-form .form-control {
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 13px;
  padding-right: 36px;
}
.wd-search-header-form .wd-form-group-pos {
  margin-bottom: 0;
  position: relative;
}
.wd-search-header-form .wd-form-group-pos .wd-btn-icon {
  background-color: transparent;
  border: 0 none transparent;
  padding: 7px 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.wd-search-header-form .wd-form-group-pos .wd-btn-icon .wd-icons-search {
  vertical-align: top;
}
.wd-search-header-form .wd-form-group-pos .wd-btn-icon:focus {
  border: 0 none transparent;
}
.wd-header-search {
  clear: both;
}
.wd-top-right-ct {
  float: right;
}
.wd-header-top-ct {
  padding: 12px 0;
}
.wd-header-top-ct .wd-wrap-logo {
  float: left;
}
.wd-header-top-ct .wd-wrap-logo .wd-logo-link {
  display: table;
  table-layout: fixed;
  width: 540px;
}
.wd-header-top-ct .wd-wrap-logo .wd-logo-link .wd-logo-hd {
  display: table-cell;
}
.wd-header-top-ct .wd-wrap-logo .wd-logo-link .wd-logo-name {
  color: #0465b3;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
}
.wd-header-top-ct .wd-wrap-logo .wd-logo-link .wd-logo-name-gr {
  color: #343434;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.wd-header-top-ct .wd-wrap-logo .wd-logo-link .wd-lg-txt {
  display: table-cell;
  line-height: 25px;
  padding-left: 10px;
  vertical-align: middle;
}
.wd-header-top-ct .wd-header-r-content {
  float: right;
  padding-top: 12px;
  width: 278px;
}
.wd-header-top-ct .wd-header-r-content .wd-nav-direct {
  margin-bottom: 16px;
}
/*menu normal*/
.wd-dropdown-menu-bt {
  background-color: #0465b3;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  color: #fff;
  display: none;
  float: none;
  font-size: 13px;
  font-weight: 600;
  height: 72px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: left;
  text-transform: uppercase;
  /*top: 37px;*/
  width: 78px;
}
.wd-dropdown-menu-bt .wd-icons-menu-rwd {
  float: right;
}
.wd-menu-nav-content {
  background-color: #0465b3;
  display: block;
  height: 40px;
}
.wd-menu-nav-content .wd-menu-list {
  background: transparent;
  border: 0 none transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-size: 0;
  margin: 0 0 -2px;
  padding: 0;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child {
  font-size: 13px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child .wd-menu-item-lk {
  background-color: #0465b3;
  color: #FFF;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px ;
  position: relative;
  text-transform: uppercase;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child .wd-menu-item-lk:focus {
  background-color: #0465b3;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child:first-child .wd-menu-item-lk {
  padding: 0 17px 0 17px;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child:first-child .wd-menu-item-lk .wd-icons-home {
  margin-top: 11px;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child:hover .wd-menu-item-lk,
.wd-menu-nav-content .wd-menu-list .wd-prt-child:focus .wd-menu-item-lk,
.wd-menu-nav-content .wd-menu-list .wd-prt-child.wd-active .wd-menu-item-lk,
.wd-menu-nav-content .wd-menu-list .wd-prt-child.open .wd-menu-item-lk,
.wd-menu-nav-content .wd-menu-list .wd-prt-child:hover .wd-menu-item-lk:focus,
.wd-menu-nav-content .wd-menu-list .wd-prt-child:focus .wd-menu-item-lk:focus,
.wd-menu-nav-content .wd-menu-list .wd-prt-child.wd-active .wd-menu-item-lk:focus,
.wd-menu-nav-content .wd-menu-list .wd-prt-child.open .wd-menu-item-lk:focus {
  background-color: #ffca08;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child:hover .wd-menu-item-lk:after,
.wd-menu-nav-content .wd-menu-list .wd-prt-child:focus .wd-menu-item-lk:after,
.wd-menu-nav-content .wd-menu-list .wd-prt-child.wd-active .wd-menu-item-lk:after,
.wd-menu-nav-content .wd-menu-list .wd-prt-child.open .wd-menu-item-lk:after,
.wd-menu-nav-content .wd-menu-list .wd-prt-child:hover .wd-menu-item-lk:focus:after,
.wd-menu-nav-content .wd-menu-list .wd-prt-child:focus .wd-menu-item-lk:focus:after,
.wd-menu-nav-content .wd-menu-list .wd-prt-child.wd-active .wd-menu-item-lk:focus:after,
.wd-menu-nav-content .wd-menu-list .wd-prt-child.open .wd-menu-item-lk:focus:after {
  border-top-color: #ffca08;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child:after {
  background: url(../images/fronts/bg-line-mn.png) repeat-y 0 0;
  content: "";
  height: 40px;
  right: 0;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 1;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child:first-child:before {
  background: url(../images/fronts/bg-line-mn.png) repeat-y 0 0;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 1;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child ul {
  background-color: #3B99E4;
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  display: block;
  margin-top: 0;
  visibility: hidden;
  opacity: 0;
  width: 190px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(-19px);
  -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1), opacity 0.5s;
  -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1), opacity 0.5s;
  -ms-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1), opacity 0.5s;
  -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1), opacity 0.5s;
  transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1), opacity 0.5s;
  
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child ul li {
  position: relative;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child ul li a {
  display: block;
  padding: 7px 10px 7px 20px;
  color: #FFF;
  background: #3B99E4;
  position: relative;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child ul li a:before {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  content: "";
  height: 4px;
  left: 10px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 4px;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child ul li a:hover {
  background: #ffca08;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child ul li:hover > a {
  background: #ffca08;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child ul li:hover ul {
  display: block;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child ul ul {
  display: none;
  background-color: #3B99E4;
  min-width: 210px;
  position: absolute;
  top: 0;
  left: 100%;
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child:hover ul,
.wd-menu-nav-content .wd-menu-list .wd-prt-child.open ul {
  /*display: block;*/
  visibility: visible;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.wd-menu-nav-content .wd-menu-list .wd-prt-child.wd-item-rpw {
  display: none;
}
.wd-menu-nav-content .wd-hassub-mn > a:after {
  border: solid transparent;
  border-color: rgba(225, 225, 225, 0);
  border-left-color: #fff;
  border-width: 4px;
  top: 50%;
  margin-top: -2px;
  content: " ";
  height: 0;
  right: 6px;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.wd-nav-fluid-content {
  background-color: #0465b3;
  border-bottom: 2px solid #ffca08;
}
.wd-header-container {
  position: relative;
}
.wd-navbar-mobile {
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.wd-navbar-mobile .wd-prt-child .wd-menu-item-lk {
  color: #0465b3;
}
.wd-navbar-mobile .mm-list {
  padding-top: 0;
}
.wd-navbar-mobile .mm-list a.mm-subopen {
  background-color: #0465B3;
  color: #fff;
}
.wd-navbar-mobile .mm-list > li > .wd-menu-item-lk,
.wd-navbar-mobile .mm-list > li > .wd-menu-item-lk {
  color: #0465b3;
}
.wd-navbar-mobile .mm-list li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults)::after {
  margin-left: 0;
}
.wd-navbar-mobile .mm-list .wd-prt-child.wd-item-rpw {
  display: none;
}
.wd-navbar-mobile.mm-menu .mm-list li a.mm-subclose,
.wd-navbar-mobile .mm-list > li.mm-selected > a.mm-subopen {
  background-color: #0465B3;
  color: #fff;
}
.wd-navbar-mobile.mm-menu .mm-list li.mm-selected > a:not(.mm-subopen),
.wd-navbar-mobile.mm-menu .mm-list li.mm-selected > span {
  background-color: #ffffff;
}
.wd-navbar-mobile.mm-menu .mm-list li > a.mm-subopen:after,
.wd-navbar-mobile.mm-menu .mm-list li > a.mm-subclose:before {
  border-color: #fff;
}
/************ footer **************/
.wd-footer-container {
  background-color: #01335b;
  color: #ccd6de;
  font-size: 13px;
  padding: 30px 0;
}
.wd-footer-container .wd-txt-lk {
  color: #c2a935;
}
.wd-footer-container .wd-txt-lk:hover {
  color: #fff;
}
.wd-footer-container .wd-txt-lk-gr {
  color: #58c158;
}
.wd-footer-container .wd-txt-lk-gr:hover {
  color: #e6e6e6;
}
.wd-footer-container .wd-list-df .wd-txt-it {
  margin-bottom: 4px;
}
.wd-footer-container .wd-social-icons {
  min-height: 36px;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 12px;
}
.wd-footer-container .wd-social-icons .wd-item {
  float: right;
  margin-left: 3px;
}
.wd-footer-container .wd-ftct-right {
  float: right;
  padding-top: 6px;
  text-align: right;
  width: 40%;
}
.wd-footer-container .wd-ftct-right .wd-desc {
  margin-bottom: 4px;
}
.wd-footer-container .wd-cftct-left {
  float: left;
  width: 50%;
}
/************ footer .end **************/
.wd-main-form .form-group,
.wd-main-form .checkbox {
  text-align: left;
}
.wd-main-form .form-pass,
.wd-main-form .form-user {
  padding-left: 32px;
}
.wd-main-form .form-user {
  background: url("../images/fronts/bg-login.png") 10px 4px no-repeat;
}
.wd-main-form .form-pass {
  background: url("../images/fronts/bg-login.png") 10px -39px no-repeat;
}
.wd-main-form .wd-remember-me {
  color: #b7b7b7;
  font-size: 14px;
}
.wd-main-form .wd-des-btf {
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  text-align: left;
}
.wd-main-form .wd-des-btf .wd-txtlk {
  color: #0465b3;
}
.wd-main-form .wd-des-btf .wd-txtlk:hover {
  text-decoration: underline;
}
.wd-main-form [class^="wd-form-icons-"],
.wd-main-form [class*="wd-form-icons-"] {
  background: url("../images/fronts/bg-form.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding-left: 32px;
}
.wd-main-form .wd-form-icons-human {
  background-position: 10px 10px;
}
.wd-main-form .wd-form-icons-phone {
  background-position: 10px -38px;
}
.wd-main-form .wd-form-icons-email {
  background-position: 8px -82px;
}
.wd-main-form .wd-form-icons-home {
  background-position: 10px -127px;
}
.wd-main-form .wd-form-icons-edit {
  background-position: 10px -170px;
}
.wd-login-form .btn-gr-defaut,
.wd-login-form .btn-bl-defaut {
  font-size: 15px;
  width: 142px;
}
.wd-login-form .btn-bl-defaut {
  margin-right: 23px;
}
.wd-login-form .form-control {
  height: 38px;
}
.wd-search-form .btn-bl-defaut {
  position: absolute;
  right: 0;
  top: 0;
}
.wd-search-form .form-control {
  font-size: 13px;
  width: 100%;
}
.wd-search-form .wd-form-group-pos {
  margin-bottom: 0;
  padding-right: 98px;
  position: relative;
}
.wd-login-content {
  margin: 0 auto;
  padding: 30px 0 40px;
  text-align: center;
  width: 310px;
}
.wd-login-content .wd-icons-login {
  margin-bottom: 12px;
}
.wd-login-content .wd-title-3 {
  padding-bottom: 20px;
}
.wd-contact-form {
  padding-bottom: 20px;
}
.wd-contact-form .form-control {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-size: 14px;
  height: 34px;
}
.wd-contact-form .form-textarea {
  height: 110px;
  padding-left: 12px;
  text-indent: 19px;
}
.wd-contact-form .form-group {
  margin-bottom: 10px;
}
.wd-contact-form .wd-form-capcha {
  float: right;
  margin-top: 4px;
  width: 184px;
}
.wd-contact-form .btn-capcha-rf {
  background-color: transparent;
  border: 0 none transparent;
  float: right;
  margin: 10px 10px 0;
}
.wd-contact-form .capcha-form-ct {
  overflow: hidden;
}
.wd-contact-form .capcha-form-ct .capcha-code {
  float: left;
}
.wd-contact-form .wd-button-group-r {
  text-align: right;
}
.wd-contact-form .wd-button-group-r .btn-default {
  margin-left: 8px;
  padding: 9px 16px;
  width: 110px;
}
/*----- common -----*/
/********** left menu *************/
.wd-leftmenu-content {
  display: block;
}
.wd-leftmenu-content .wd-listlink-menu {
  margin-bottom: 0;
}
.wd-leftmenu-content .wd-listlink-menu .panel-heading {
  padding: 0;
}
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it {
  border-top: 1px solid #e3e3e3;
}
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it .wd-hoz-link {
  color: #222;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding: 10px 16px;
}
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it .wd-hoz-link.wd-hoz-link-hassub {
  padding-right: 28px;
  position: relative;
}
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it .wd-hoz-link.wd-hoz-link-hassub .wd-caret {
  margin-top: -5px;
  position: absolute;
  right: 14px;
  top: 50%;
}
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it .wd-hoz-link:hover {
  background-color: #3b99e4;
  color: #fff;
}
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it:first-child {
  border-top: 0 none transparent;
}
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it.wd-active .wd-hoz-link,
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it.wd-active .wd-hoz-link:hover {
  background-color: #3b99e4;
  color: #fff;
}
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it.wd-active .wd-hoz-link.wd-hoz-link-hassub .wd-caret:before,
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it.wd-active .wd-hoz-link:hover.wd-hoz-link-hassub .wd-caret:before {
  border-left: 5px solid #fff;
}
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it.wd-active .wd-hoz-link.wd-hoz-link-hassub .wd-caret:after,
.wd-leftmenu-content .wd-listlink-menu .wd-hoz-it.wd-active .wd-hoz-link:hover.wd-hoz-link-hassub .wd-caret:after {
  border-left: 4px solid #3b99e4;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it {
  border-top: 1px solid #e3e3e3;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it .wd-s-link {
  color: #222;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  padding: 7px 10px 7px 30px;
  position: relative;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it .wd-s-link:before {
  background-color: #222;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  content: "";
  display: block;
  height: 4px;
  left: 20px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 4px;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it .wd-s-link.wd-hoz-link-hassub {
  padding-right: 28px;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it .wd-s-link.wd-hoz-link-hassub .wd-caret {
  margin-top: -5px;
  position: absolute;
  right: 14px;
  top: 50%;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it .wd-s-link.wd-hoz-link-hassub:hover .wd-caret:before,
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it .wd-s-link.wd-hoz-link-hassub.wd-active .wd-caret:before {
  border-left: 5px solid #fff;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it .wd-s-link.wd-hoz-link-hassub:hover .wd-caret:after,
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it .wd-s-link.wd-hoz-link-hassub.wd-active .wd-caret:after {
  border-left: 4px solid #3b99e4;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it .wd-s-link:hover {
  background-color: #4aa7f0;
  color: #fff;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it .wd-s-link:hover:before {
  background-color: #fff;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it.wd-active > .wd-s-link,
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it.wd-active .panel-heading .wd-s-link:hover {
  background-color: #3b99e4;
  color: #fff;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it.wd-active > .wd-s-link.wd-hoz-link-hassub,
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it.wd-active .panel-heading .wd-s-link:hover.wd-hoz-link-hassub {
  background-color: #3b99e4;
  color: #fff;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it.wd-active > .wd-s-link .wd-caret:before,
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it.wd-active .panel-heading .wd-s-link:hover .wd-caret:before {
  border-left: 5px solid #fff;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it.wd-active > .wd-s-link .wd-caret:after,
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it.wd-active .panel-heading .wd-s-link:hover .wd-caret:after {
  border-left: 4px solid #3b99e4;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it.wd-active > .wd-s-link:before,
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub .wd-hoz-it.wd-active .panel-heading .wd-s-link:hover:before {
  background-color: #fff;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub-child .wd-hoz-it .wd-s-link:before,
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub-child .wd-hoz-it .wd-s-link:hover:before {
  background-color: transparent !important;
}
.wd-leftmenu-content .wd-listlink-menu .wd-listlink-menu-sub-child .wd-hoz-it.wd-active .wd-s-link {
  background-color: transparent;
  color: #0465b3;
  font-weight: 600;
}
.wd-horizon-leftmn .wd-button-openmenu {
  display: none;
}
/********** left menu .end *************/
/*********** list contact address ********/
.wd-address-ct {
  color: #373737;
  font-size: 13px;
  padding: 10px 18px;
}
.wd-address-ct .title {
  color: #222;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.wd-address-ct .wd-txt-lk {
  color: #0465b3;
  font-weight: 600;
}
.wd-address-ct .wd-txt-lk:hover {
  text-decoration: underline;
}
.wd-address-ct .wd-item {
  padding: 3px 0;
}
/*********** list contact address .end ********/
/************** wd-section-left ****************/
.wd-section-left {
  margin-bottom: 35px;
}
.wd-section-left .wd-section-ct {
  background-color: #f6f6f6;
  border-left: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
/************** wd-section-left .end ****************/
/***** thumbnail-block *******/
.wd-thumbnail-block {
  width: 100%;
}
.wd-thumbnail-block .wd-view-more-blue,
.wd-thumbnail-block .wd-view-detail,
.wd-thumbnail-block a.wd-view-detail {
  float: right;
  margin-bottom: 6px;
}
.wd-thumbnail-block .wd-tp-ct {
  height: 151px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.wd-thumbnail-block .wd-tp-ct .wd-type-of-news {
  bottom: 0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  min-width: 90px;
  padding: 7px 8px;
  position: absolute;
  right: 0;
  text-align: center;
  display:none;/*viet: k/h yeu cau bo*/
}
.wd-thumbnail-block .wd-tp-ct .wd-img-thumb {
  height: auto;
  width: 100%;
}
.wd-thumbnail-block .wd-tp-ct .title-bg {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #fff;
  font-size: 22px;
  left: 0;
  padding: 12px 20px;
  position: absolute;
  text-align: left;
  width: 100%;
}
.wd-thumbnail-block .wd-tp-ct .title-bg .wd-txt-lk {
  color: #fff;
}
.wd-thumbnail-block .wd-mn-ct {
  color: #6e6e6e;
  font-size: 14px;
  line-height: 21px;
}
.wd-thumbnail-block .wd-mn-ct .wd-title {
  /*border-bottom: 1px solid #ccc;*/
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 10px;
  padding-bottom: 4px;
}
.wd-thumbnail-block .wd-main-ct {
  border: 1px solid #ccc;
  border-top: 0 none transparent;
  height: 87px;/*vietpq old 214px*/
  padding: 14px 18px 48px;
  position: relative;
  margin-top: -1px;/*viet: bi loi 1px*/
}
.wd-thumbnail-block .wd-main-ct .wd-ft-ct {
  background-color: #fafafa;
  bottom: 0;
  border-top: 1px solid #ccc;
  height: 48px;
  left: 0;
  padding: 14px 18px;
  position: absolute;
  width: 100%;
}
.wd-thumbnail-block .wd-main-ct .wd-ft-ct .wd-view-detail {
  font-size: 13px;
}
.wd-thumbnail-block .wd-main-ct .wd-ft-ct .wd-view-detail:hover {
  color: #2482d2;
}
.wd-thumbnail-block .wd-main-ct .wd-ft-ct .wd-date-post {
  color: #157dd1;
  font-size: 13px;
  font-weight: 500;
}
.wd-thumbnail-block.wd-thumbnail-block-lg {
  margin-top: 10px;
}
.wd-thumbnail-block.wd-thumbnail-block-lg .wd-tp-ct {
  height: auto;
}
.wd-thumbnail-block.wd-thumbnail-block-lg .wd-tp-ct .wd-type-of-news {
  bottom: auto;
  right: auto;
  top: 0;
  left: 0;
}
.wd-thumbnail-block.wd-thumbnail-block-lg .wd-mn-ct {
  margin-bottom: 20px;
}
.wd-thumbnail-block.wd-thumbnail-block-lg .wd-main-ct {
  height: auto;
}
/***** thumbnail-block .wd-end *******/
/************* banner ***************/
.wd-banner-block {
  position: relative;
}
.wd-banner-block .wd-title {
  font-size: 30px;
  text-transform: uppercase;
}
.wd-banner-block .wd-title .wd-tt-lk {
  color: #fff;
  text-shadow: 1px 1px 1px #444;
}
.wd-banner-block .wd-caption-desc {
  bottom: 0;
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  line-height: 25px;
  padding-bottom: 32px;
  position: absolute;
  right: 58px;
  width: 580px;
}
.wd-banner-block .wd-caption-desc .wd-desc {
  text-transform: uppercase;
}
.wd-banner-block .wd-caption-desc .wd-view-more-bt {
  float: right;
  margin-top: 10px;
}
.wd-banner-container-m {
  background-color: #efefef;
  padding: 5px 0;
  position: relative;
  padding-top:0px;
}
.wd-banner-container-m:before {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #efefef 0%,#e5e5e5 100%);
  background-image: -moz-linear-gradient(top, #efefef 0%,#e5e5e5 100%);
  background-image: -o-linear-gradient(top, #efefef 0%,#e5e5e5 100%);
  background-image: linear-gradient(to bottom, #efefef 0%,#e5e5e5 100%);
  bottom: 0;
  content: "";
  height: 0px;
  left: 0;
  position: absolute;
  width: 100%;
}
.wd-banner-container-m.wd-nbg-banner-container {
  background-color: transparent;
}
.wd-banner-container-m.wd-nbg-banner-container .wd-image-banner-chl {
  height: auto;
  width: 100%;
}
.wd-banner-container-m.wd-nbg-banner-container:before {
  background-image: none;
}
/************* banner ***************/
/************* features-list *************/
.wd-features-block {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  height: 60px;/*viet: old 90px*/
  padding: 8px 5px 20px;
  text-align: center;
  width: 290px;
}
.wd-features-block .wd-icon-left {
  margin-right: 8px;
}
.wd-features-block .wd-ct-right {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  max-width: 222px;
  text-align: left;
  vertical-align: top;
}
.wd-features-block .wd-ct-right .wd-tt-bl {
  display: inline-block;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
}
.wd-features-block.wd-features-block-smct .wd-ct-right {
  max-width: 146px;
}
.wd-features-list .wd-features-block {
  color: #fff;
}
.wd-features-list .slick-list {
  height: 70px;
  overflow: hidden;
}
.wd-features-list-aside .wd-features-block {
  width: 100%;
}
.wd-features-list-aside .wd-features-block .wd-ct-right {
  max-width: 200px;
}
.wd-features-list-aside .wd-features-block .wd-ct-right .wd-tt-bl {
  font-size: 17px;
}
.wd-features-list-aside .wd-features-block .wd-icon-left {
  margin-right: 4px;
}
.wd-features-list-aside .wd-item {
  margin-bottom: 6px;
}
.wd-features-container {
  height: 75px;
  overflow: hidden;  
}
/************* features-list .end *************/
/******************** main content index **********/
.wd-list-thumb {
  clear: both;
}
.wd-list-thumb .slick-list {
  overflow: hidden;
}
.wd-list-thumb .wd-list-thumb-item {
  float: left;
  margin: 0 9px;
  height: 250px;/*viet: 410px*/
  width: 278px;
}
.wd-list-thumb .wd-list-thumb-item .wd-thumbnail-block {
  height: 410px;
}
.wd-list-news-idx .wd-view-more-blue,
.wd-list-news-idx .wd-view-detail,
.wd-list-news-idx a.wd-view-detail {
  float: right;
  margin-bottom: 6px;
}
.wd-list-news-idx .wd-list-thumb {
  clear: both;
}
.wd-list-news-idx .wd-list-thumb .wd-list-thumb-item {
  margin: 0 11px;
  height: 410px;
  width: 215px;
}
.wd-list-news-idx .wd-list-thumb .wd-list-thumb-item .wd-thumbnail-block {
  height: 410px;
}
.wd-list-news-idx .wd-list-thumb .slick-list {
  height: 280px;
  overflow: hidden;
}
.wd-main-container-id {
  padding-bottom: 0px;/*viet: 30px*/
  padding-top: 23px;
}
/******************** main content index .wd-end **********/
/************* Partner ***************/
.wd-partner-content {
  margin-bottom: 40px;
  overflow: hidden;
}
.wd-partner-content .wd-title-org-bd {
  margin-bottom: 15px;
}
.wd-partner-content .wd-partner-slider {
  margin: 0 -15px;
}
.wd-partner-content .wd-partner-slider .slick-list {
  height: 115px;
  overflow: hidden;
}
.wd-partner-content .wd-partner-slider .wd-item {
  float: left;
  margin: 0 15px;
}
.wd-partner-content .wd-partner-slider .wd-image {
  width: 100%;
  height: auto;
  border: 1px solid #d7d7d7;
}
.wd-partner-container {
  background-color: #efefef;
  padding: 5px 0 4px;
  margin-bottom: -35px;
}
.wd-partner-container .wd-title-27 {
  margin-bottom: 6px;
}
/***************** Partner .end *********/
/************ paging ***************/
.wd-pagination-content {
  text-align: right;
}
.wd-pagination-content .pagination > li {
  display: inline-block;
  margin-left: 5px;
}
.wd-pagination-content .pagination > li > a,
.wd-pagination-content .pagination > li > span {
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  padding: 2px 7px;
}
.wd-pagination-content .pagination > li.wd-active > a,
.wd-pagination-content .pagination > li.wd-active > span {
  background-color: #0465b3;
  border-color: #0465b3;
  color: #fff;
}
/************ paging .end ***********/
.wd-thumbnail-blsm {
  cursor: pointer;
  display: block;
  overflow: hidden;
}
.wd-thumbnail-blsm .wd-txt-lg {
  color: #565656;
  display: inline-block;
  font-size: 30px;
  line-height: 29px;
  width: 100%;
}
.wd-thumbnail-blsm .wd-lf-ct {
  background-color: #f6f6f6;
  display: inline-block;
  float: left;
  height: 75px;
  margin-right: 12px;
  text-align: center;
  width: 80px;
}
.wd-thumbnail-blsm .wd-lf-ct.wd-lf-txt-ct {
  color: #a6a6a6;
  font-size: 14px;
  padding-top: 12px;
}
.wd-thumbnail-blsm .wd-title {
  color: #383838;
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}
.wd-thumbnail-blsm .wd-title .wd-grey-txt {
  color: #959595;
  font-size: 14px;
  font-weight: 400;
}
.wd-thumbnail-blsm .wd-desc {
  color: #565656;
  font-size: 14px;
}
.wd-thumbnail-blsm .wd-main-ct {
  display: block;
  overflow: hidden;
}
.wd-thumbnail-blsm:hover .wd-title {
  color: #0465b3;
}
.wd-list-grct .wd-thumbnail-blsm {
  padding: 15px 0;
}
.wd-list-grct .wd-item {
  border-bottom: 1px solid #ededed;
}
.wd-list-lk {
  color: #383838;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}
.wd-list-lk .wd-txtlik {
  color: #000;
}
.wd-list-lk .wd-txtlik .wd-grtxt {
  color: #9f9f9f;
}
.wd-list-lk .wd-txtlik:hover {
  color: #0465b3;
}
.wd-list-lk .wd-item {
  padding: 2px 0 2px 12px;
  position: relative;
}
.wd-list-lk .wd-item:before {
  background-color: #333;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 3px;
}
.wd-news-related .wd-title-1,
.wd-news-related .wd-title-4 {
  margin-bottom: 14px;
}
.wd-news-container {
  padding-top: 10px;
}
.wd-news-container .wd-news-category {
  margin-bottom: 20px;
}
.wd-news-container .wd-news-related {
  margin-bottom: 24px;
}
/********** news detail *************/
.wd-artical-detail {
  color: #565656;
  font-size: 15px;
  line-height: 25px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 10px;
}
.wd-artical-detail .wd-title-2 {
  margin: 2px 0 4px;
}
.wd-artical-detail .wd-desc-tp {
  color: #157dd1;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 16px;
}
.wd-artical-detail .wd-image-ct {
  margin-bottom: 12px;
}
.wd-artical-detail .wd-image-ct img {
  width: 100%;
  height: auto;
}
.wd-artical-detail .wd-txt-str-bl {
  color: #0465b3;
  text-transform: uppercase;
}
.wd-artical-detail .wd-art {
  margin-bottom: 24px;
}
.wd-artical-detail img {
  height: auto;
  max-width: 100%;
}
.wd-artical-detail table {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/*************** news detail .end ****************/
/********************* right - left content **********/
.wd-ads-aside .iamge-ads,
.wd-ads-aside img {
  height: auto;
  width: 100%;
}
.wd-right-side-extra .wd-ads-aside {
  margin-bottom: 20px;
}
.wd-left-side-extra {
  padding-bottom: 20px;
}
/***************** resources ********************/
.wd-hdright-resouce {
  float: right;
}
.wd-list-action-lf {
  overflow: hidden;
}
.wd-list-action-lf .wd-lk-act {
  color: #0465b3;
  font-size: 13px;
}
.wd-list-action-lf .wd-lk-act .wd-icon-l {
  margin-right: 6px;
}
.wd-list-action-lf .wd-lk-act:hover {
  text-decoration: underline;
}
.wd-list-action-lf .wd-item {
  float: left;
  margin-right: 15px;
}
.wd-hdright-resouce {
  float: right;
  width: 405px;
}
.wd-header-art-ct {
  padding-bottom: 12px;
}
.wd-header-art-ct .wd-list-action-lf {
  padding-top: 16px;
}
.wd-resources-container {
  padding-top: 12px;
}
.wd-table-data .table-bordered > thead > tr > th {
  background-color: #f1f1f1;
  border-bottom-width: 1px;
  padding: 10px 20px;
  white-space: nowrap;
}
.wd-table-data .table-bordered tr td.wd-rpw {
  text-align: center;
}
.wd-table-data .table-bordered tr td {
  color: #383838;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 20px;
}
.wd-table-data .table-bordered tr td .wd-ipct {
  cursor: pointer;
  font-weight: 400;
}
.wd-table-data .table-bordered tr td .wd-txtgr {
  color: #959595;
}
.wd-table-data .table-bordered tr td .wd-check-item {
  margin-right: 6px;
  float: left;
}
.wd-table-data .table-bordered tr td .wd-check-item:checked + span.wd-txt {
  color: #2b7dbf;
}
.wd-table-data .table-bordered tr td .wd-ipct {
  display: block;
  overflow: hidden;
}
.wd-table-data .table-bordered tr td .wd-ipct .wd-txt {
  display: block;
  margin-top: 2px;
  overflow: hidden;
}
.wd-table-data .table-bordered tr td:hover .wd-ipct {
  color: #2b7dbf;
}
.wd-error-content {
  text-align: center;
  margin: 40px auto 55px;
  max-width: 885px;
}
.wd-error-content .wd-title-4 {
  margin: 30px 0 10px;
}
.wd-error-content .wd-desc-error {
  color: #313131;
  font-size: 16px;
  margin-bottom: 20px;
}
.wd-error-content .btn-bl-defaut {
  padding: 10px 20px;
}
.wd-header-research {
  border-bottom: 1px solid #ccc;
  padding: 10px 190px 18px 0;
}
.wd-header-research .wd-desc-res {
  color: #0465b3;
  font-size: 13px;
  font-weight: 600;
  margin-top: 12px;
}
.wd-search-result .wd-list-grct .wd-thumbnail-blsm {
  padding: 20px 0;
}
.wd-search-result .wd-list-grct .wd-thumbnail-blsm .wd-title {
  margin-bottom: 6px;
}
.wd-search-result .wd-list-grct .wd-thumbnail-blsm .wd-desc {
  line-height: 25px;
}
.wd-image-map {
  position: relative;
}
.wd-image-map .wd-image-map {
  height: auto;
  width: 100%;
}
.wd-image-map .wd-bg-infomap {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  color: #fff;
  font-size: 14px;
  height: 98px;
  left: 0;
  line-height: 23px;
  padding: 18px;
  position: absolute;
  width: 100%;
}
.wd-image-map .wd-bg-infomap .wd-txt-lk {
  color: #f2c72b;
  font-weight: 600;
}
.wd-image-map .wd-bg-infomap .wd-txt-lk:hover {
  text-decoration: underline;
}
.wd-contact-container .wd-breadcrumb-cus {
  margin: 16px 0;
}
.wd-contact-container .wd-mtitle-asd {
  margin-bottom: 12px;
  padding: 14px 10px 14px 24px;
}
.wd-contact-container .wd-contact-info-ct {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1000px) and (max-width: 1215px) {
  .wd-menu-nav-content .wd-menu-list .wd-prt-child {
    font-size: 12px;
  }
  .wd-menu-nav-content .wd-menu-list .wd-prt-child .wd-menu-item-lk {
    padding: 0 12px 0 11px;
	z-index: 10000;
  }
  .wd-menu-nav-content .wd-menu-list .wd-prt-child:first-child .wd-menu-item-lk {
    padding: 0 12px;
  }
}
@media screen and (min-width: 1025px) {
  .wd-top-right-ct .row {
    margin: 0;
  }
  .wd-menu-nav-content .wd-dropdown-menu-bt {
    display: none;
  }
  .wd-menu-nav-content .wd-menu-list {
    display: block;
    position: static;
  }
  .wd-header-top-ct .wd-header-r-content .wd-dropdown-toggle-r {
    display: none;
  }
  .wd-header-top-ct .wd-header-r-content .wd-rightmenu-rwd {
    border: 0 none transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: block;
    left: auto;
    padding: 0;
    right: 0;
    width: 100%;
  }
}
@media screen and (max-width: 1215px) {
  .container {
    width: 100%;
  }
  .wd-features-block {
    margin: 0 2px;
    width: auto;
  }
  .wd-features-list {
    margin: 0 -2px;
  }
}
@media screen and (max-width: 1136px) {
  .wd-features-list-aside .wd-features-block .wd-ct-right {
    max-width: 161px;
    font-size: 14px;
  }
  .wd-features-list-aside .wd-features-block .wd-ct-right .wd-tt-bl {
    font-size: 13px;
  }
}
@media screen and (max-width: 1080px) {
  .wd-header-top-ct .wd-wrap-logo .wd-logo-link {
    width: 450px;
  }
  .wd-header-top-ct .wd-wrap-logo .wd-logo-link .wd-logo-name {
    font-size: 19px;
  }
  .wd-header-top-ct .wd-wrap-logo .wd-logo-link .wd-logo-name-gr {
    font-size: 15px;
  }
  .wd-list-news-idx .wd-list-thumb {
    clear: both;
    overflow: hidden;
  }
  .wd-list-news-idx .wd-list-thumb .slick-list {
    margin: 0 -9px;
  }
  .wd-partner-content .wd-partner-slider .slick-list {
    height: 112px;
  }
  .contact-map > #gmap_canvas {
    width: 100% !important;
  }
}
@media screen and (max-width: 1024px) {
  .wd-header-container {
    border-bottom: 1px solid #ccc;
  }
  .wd-menu-nav-content {
    height: 72px;
  }
  .wd-menu-nav-content .wd-dropdown-menu-bt {
    display: block;
  }
  .wd-menu-nav-content .wd-menu-list {
    background-color: #2194d2;
    left: auto;
    right: 0;
    width: auto;
  }
  .wd-menu-nav-content .wd-menu-list .wd-prt-child {
    display: block;
  }
  .wd-nav-fluid-content {
    display: none;
  }
  .wd-dropdown-menu-bt {
    display: block;
  }
  .wd-menu-nav-content .wd-menu-list .wd-prt-child .wd-menu-item-lk {
    height: 28px;
    line-height: 28px;
  }
  .wd-header-top-ct {
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
  }
  .wd-header-top-ct .wd-header-r-content {
    height: 74px;
    padding-top: 0;
    position: absolute;
    right: 78px;
    /*top: 37px;*/
    width: auto;
  }
  .wd-header-top-ct .wd-header-r-content .wd-dropdown-toggle-r {
    border-bottom: 0 none transparent;
    border-top: 0 none transparent;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    height: 72px;
    padding: 10px 25px;
    width: 78px;
  }
  .wd-header-top-ct .wd-header-r-content .wd-rightmenu-rwd {
    border-top-color: transparent;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.176);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.176);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.176);
    left: auto;
    padding: 10px ;
    right: 0;
    top: 100%;
    width: 346px;
  }
  .wd-header-top-ct .wd-wrap-logo {
    margin-bottom: 6px;
    margin-top: 6px;
  }
  .wd-header-top-ct .wd-wrap-logo .wd-logo-link {
    width: 380px;
  }
  .wd-header-top-ct .wd-wrap-logo .wd-logo-link .wd-logo-hd {
    background-position: -168px -64px;
    width: 64px;
    height: 64px;
  }
  .wd-header-top-ct .wd-wrap-logo .wd-logo-link .wd-logo-name {
    font-size: 16px;
  }
  .wd-header-top-ct .wd-wrap-logo .wd-logo-link .wd-logo-name-gr {
    font-size: 13px;
  }
  .wd-header-top-ct .wd-wrap-logo .wd-logo-link .wd-lg-txt {
    line-height: 17px;
  }
  .wd-top-right-ct {
    float: none;
    width: 100%;
  }
  .wd-top-right-ct .wd-top-right-bgrpw {
    background-color: #0465b3;
    height: 36px;
	display:none;/*Khong hien thi tren mobile*/
  }
  .wd-top-right-ct .wd-nav-direct {
    float: none;
    padding: 7px 0;
    text-align: center;
  }
  .wd-top-right-ct .wd-nav-direct .wd-item {
    display: inline-block;
    float: none;
  }
  .wd-top-right-ct .wd-nav-direct .wd-item .wd-txt-lk {
    color: #b4d1e8;
  }
  .wd-top-right-ct .wd-nav-direct .wd-item .wd-login-bt {
    color: #fff;
  }
  .wd-top-right-ct .wd-nav-direct .wd-item .wd-login-bt .wd-icons-human {
    background-position: -100px 0;
    margin-top: 2px;
  }
  .wd-top-right-ct .wd-nav-direct .wd-item.wd-active .wd-txt-lk,
  .wd-top-right-ct .wd-nav-direct .wd-item.wd-active .wd-login-bt {
    background-color: transparent;
    color: #ffca08;
  }
  .wd-mtitle-asd {
    font-size: 18px;
    padding-left: 10px;
  }
  .wd-contact-form .wd-form-capcha {
    width: 166px;
  }
}
@media screen and (max-width: 1000px) {
  .wd-banner-container-m .container {
    padding: 0;
  }
  .wd-banner-block .wd-title {
    font-size: 20px;
  }
  .wd-banner-block .wd-caption-desc {
    font-size: 13px;
    padding-bottom: 20px;
    right: 12px;
    width: 380px;
  }
  .wd-banner-container-m .wd-flex-direction-nav {
    display: none;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  .wd-left-side-extra .wd-contact-block-as,
  .wd-left-side-extra .wd-features-list-aside {
    display: none;
  }
  .wd-left-side-extra .wd-horizon-leftmn {
    float: right;
    width: 280px;
  }
  .wd-left-side-extra .wd-horizon-leftmn .wd-mtitle-asd {
    display: none;
  }
  .wd-left-side-extra .wd-horizon-leftmn .wd-leftmenu-content {
    background-color: #0465b3;
    color: #fff;
    display: none;
    max-height: 360px;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    width: auto;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .wd-left-side-extra .wd-horizon-leftmn .wd-leftmenu-content .wd-listlink-menu .wd-hoz-it {
    white-space: nowrap;
  }
  .wd-left-side-extra .wd-horizon-leftmn .wd-leftmenu-content .wd-listlink-menu .wd-hoz-it .wd-hoz-link,
  .wd-left-side-extra .wd-horizon-leftmn .wd-leftmenu-content .wd-listlink-menu .wd-hoz-it .wd-s-link {
    color: #fff;
  }
  .wd-left-side-extra .wd-horizon-leftmn .wd-leftmenu-content .wd-listlink-menu .wd-hoz-it .wd-hoz-link:before,
  .wd-left-side-extra .wd-horizon-leftmn .wd-leftmenu-content .wd-listlink-menu .wd-hoz-it .wd-s-link:before {
    background-color: #fff;
  }
  .wd-left-side-extra .wd-horizon-leftmn .wd-leftmenu-content.collapse.in {
    display: block;
  }
  .wd-left-side-extra .wd-horizon-leftmn .wd-button-openmenu {
    display: block;
  }
  .wd-left-side-extra .wd-horizon-leftmn .wd-section-ct {
    background-color: transparent;
    border: 0 none transparent;
    position: relative;
  }
  .wd-right-side-extra .wd-ads-aside,
  .wd-right-side-extra .wd-features-list-aside {
    display: none;
  }
  .wd-section-left {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 876px) {
  .wd-contact-form .wd-form-capcha {
    width: 142px;
  }
  .wd-contact-form .btn-capcha-rf {
    margin: 10px 6px 0;
  }
}
@media screen and (max-width: 768px) {
  .wd-footer-container .wd-cftct-left {
    width: 60%;
  }
  .wd-footer-container .wd-ftct-right {
    width: 38%;
  }
  .wd-partner-content .wd-partner-slider .slick-list {
    height: 102px;
  }
  .wd-hdright-resouce {
    float: none;
    margin-top: 15px;
    width: 100%;
  }
  .wd-image-error {
    height: auto;
    width: 100%;
  }
  .wd-partner-content .wd-partner-slider .wd-item {
    text-align: center;
  }
  .wd-partner-content .wd-partner-slider .wd-item img {
    display: inline-block;
  }
}
@media screen and (max-width: 660px) {
  .wd-footer-container .wd-cftct-left,
  .wd-footer-container .wd-ftct-right {
    text-align: center;
    width: 100%;
  }
  .wd-footer-container .wd-social-icons .wd-item {
    display: inline-block;
    float: none;
  }
  .wd-header-research {
    padding-right: 0;
  }
  .wd-image-map .wd-bg-infomap {
    display: none;
  }
  .breadcrumb.wd-breadcrumb-cus {
    display: none;
  }
  #wd-wrapper {
    padding-bottom: 230px;
  }
  #wd-wrapper .wd-footer-container {
    height: auto;
    min-height: 170px;
  }
  .wd-artical-detail table {
    overflow-x: auto;
    width: 100%;
  }
  .wd-artical-detail table img {
    width: 100%;
  }
  .wd-artical-detail {
    text-align: left;
  }
}
@media screen and (max-width: 580px) {
  .flexslider .slides > li {
    overflow: hidden;
    height: 230px;
    position: relative;
  }
  .flexslider .slides > li img {
    display: inline-block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -ms-transform: translate(-50%, -50%) ; 
    -webkit-transform: translate(-50%, -50%) ; 
    transform: translate(-50%, -50%) ;
  }
  .wd-header-top-ct .wd-wrap-logo .wd-logo-link {
    width: auto;
  }
  .wd-header-top-ct .wd-wrap-logo .wd-logo-link .wd-lg-txt {
    display: none;
  }
  .wd-features-block .wd-ct-right {
    max-width: 200px;
  }
  .wd-dropdown-menu-bt {
    background-color: transparent;
    height: 35px;
    margin-top: 15px;
    width: 35px;
  }
  .wd-dropdown-menu-bt .wd-icons-menu-rwd {
    background-position: 0 -185px;
    float: none;
    height: 35px;
    width: 35px;
  }
  .wd-header-top-ct .wd-header-r-content {
    right: 40px;
  }
  .wd-header-top-ct .wd-header-r-content .wd-dropdown-toggle-r {
    border: 0 none transparent;
    height: 66px;
    margin-top: 7px;
    padding: 10px;
    width: 60px;
  }
  .wd-header-top-ct .wd-header-r-content .wd-dropdown-toggle-r .wd-icons-search-rpw {
    height: 34px;
  }
  .wd-header-top-ct .wd-header-r-content .wd-rightmenu-rwd {
    right: -54px;
  }
  .wd-news-category .wd-thumbnail-blsm .wd-desc {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .wd-partner-content .wd-partner-slider .slick-list {
    height: 133px;
  }
}
@media screen and (max-width: 480px) {
  .wd-banner-block .wd-title {
    font-size: 13px;
  }
  .wd-banner-block .wd-caption-desc {
    font-size: 12px;
    padding: 6px;
    right: 0;
    width: 100%;
  }
  .wd-banner-block .wd-caption-desc .wd-desc {
    display: none;
  }
  .wd-banner-block .wd-view-more-bt {
    font-size: 12px;
    padding: 2px 4px;
  }
  .wd-top-right-ct .wd-nav-direct .wd-item.wd-item-rpw {
    display: none;
  }
  .wd-top-right-ct .wd-nav-direct .wd-item .wd-login-bt {
    font-size: 14px;
  }
  .wd-top-right-ct .wd-nav-direct .wd-item .wd-login-bt:before {
    border: 0 none transparent;
  }
  .wd-navbar-mobile .mm-list .wd-prt-child.wd-item-rpw {
    display: block;
  }
  .wd-header-top-ct .wd-header-r-content .wd-rightmenu-rwd {
    width: 280px;
  }
  .wd-thumbnail-block .wd-tp-ct {
    height: auto;
  }
  .wd-table-data tr .wd-rpw {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  .wd-contact-form .capcha-form-ct {
    position: relative;
  }
  .wd-contact-form .capcha-form-ct .capcha-code {
    margin-right: 30px;
  }
  .wd-contact-form .capcha-form-ct .btn-capcha-rf {
    position: absolute;
    right: 0;
  }
  .wd-contact-form .wd-form-capcha {
    margin-top: 10px;
    width: 100%;
  }
  .wd-partner-content .wd-partner-slider .wd-image {
    width: auto;
  }
  .wd-list-news-idx .wd-list-thumb .slick-list {
    height: 356px;
  }
  .wd-thumbnail-block .wd-tp-ct .title-bg {
    font-size: 14px;
  }
  .wd-partner-content .wd-partner-slider .slick-list {
    height: 110px;
  }
  .wd-title-main-ln {
    font-size: 24px;
  }
  .wd-title-main-ln:before {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}
@media screen and (max-width: 360px) {
  .wd-features-block .wd-ct-right {
    font-size: 14px;
  }
  .wd-features-block .wd-ct-right .wd-tt-bl {
    font-size: 17px;
  }
  .wd-login-form .btn-gr-defaut,
  .wd-login-form .btn-bl-defaut {
    width: 125px;
  }
  .wd-login-form .form-group-bt {
    text-align: center;
  }
  .wd-login-content {
    width: 100%;
  }
}

.news-inline{
	float:left;
	padding-right:10px;
	font-size: 18px;		
	padding-bottom:20px;
}
.news-inline h3 a{
  color:red;
}
.wd-tt-lk2 {
  color: #CC3300;
  text-shadow: 1px 1px 1px #444;
}

.marquee {
  padding-top:5px;  
  overflow: hidden;
}